@use '../../../styles/mixins.scss';

.chatBotHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 0 40px;
  height: var(--headerHight);
  border-bottom: 1px solid var(--border);
  box-shadow: -1px 2px 6px 0px var(--border);
  z-index: 1;

  .leftWithKnowledgeName {
    display: flex;
    flex-direction: row;
    gap: 24px;
    overflow: hidden;
    flex: 1;

    .knowledgebaseName {
      @include mixins.ellipsis(100%);
    }

    .left {
      display: flex;
      align-items: center;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;

    &.isDisabled {
      pointer-events: none;

      .chatLinkContainer {
        .chatLink {
          color: var(--text-disabled);
        }
      }

      .historyIcon {
        path {
          fill: var(--icon-secondary-disabled);
        }
      }
    }

    .chatLinkContainer {
      text-align: right;
      margin-right: 35px;

      .chatLink {
        color: var(--text-button-primary);
        cursor: pointer;
      }
    }
  }

  .headerIcon {
    cursor: pointer;

    &.addChatIcon {
      color: var(--icon-secondary);
      position: relative;
      top: 2px;
    }

    &.historyIcon {
      height: 22px;

      path {
        fill: var(--icon-secondary);
      }

      &:first-letter {
        text-transform: lowercase;
      }
    }

    &.infoIcon {
      path {
        fill: var(--icon-secondary);
      }
    }

    &:hover {
      path {
        fill: var(--icon-primary);
      }
    }

    &.disabled {
      pointer-events: none;

      path {
        fill: var(--icon-secondary-disabled);
      }
    }
  }
}