apiVersion: v1
kind: Secret
metadata:
  name: backend-fsx-ontap-secret-nas
type: Opaque
stringData:
  username: fsxadmin
  password: ${FSX_PASSWORD}
---
apiVersion: trident.netapp.io/v1
kind: TridentBackendConfig
metadata:
  name: backend-fsx-ontap-nas
spec:
  version: 1
  storageDriverName: ontap-nas
  managementLIF: ${FSX_MANAGEMENT_IP}
  svm: ${FSX_SVM_NAME}
  dataLIF: ${FSX_SVM_DATA_LIF}
  credentials: 
    name: backend-fsx-ontap-secret-nas
