apiVersion: v1
kind: Secret
metadata:
  name: backend-fsx-ontap-san-secret
type: Opaque
stringData:
  username: fsxadmin
  password: ${FSX_PASSWORD}
---
apiVersion: trident.netapp.io/v1
kind: TridentBackendConfig
metadata:
  name: backend-fsx-ontap-san
spec:
  version: 1
  storageDriverName: ontap-san
  managementLIF: ${FSX_MANAGEMENT_IP}
  svm: ${FSX_SVM_NAME}
  credentials: 
    name: backend-fsx-ontap-san-secret