.upperBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 40px;
    border-bottom: 1px solid var(--border);

    [class*=userNameContainer] {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        [class*=dsButton] {
            [class*=dropdownIndicator] {
                display: none !important;
            }

            [class*=dsDropDownList] {
                min-width: 140px !important;
            }
        }
    }
}