@use '../../../styles/mixins.scss';

.chatHistory {
    .historyList {
      @include mixins.showScrollbarY();
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: calc(100% - var(--headerHight));
      overflow-y: auto;

      &.emptyHistory {
        align-items: center;
        justify-content: center;

        .emptryHistoryContainer {
          display: flex;
          flex-direction: column;
          gap: 12px;
          align-items: center;
          white-space: nowrap;
        }
      }
    }
  }