.dsTextFramePopover.dsChipTextField {
    max-width: unset !important;

    .dsTextFieldFrame {
        --text-width: 385px;
        width: var(--text-width);

        &.isError {
            .inputTextContainer {
                .textFieldInput {
                    &.isInputFocus {
                        outline-color: var(--error) !important;
                        border-color: var(--error);
                    }
                }
            }
        }

        .inputTextContainer {
            .textFieldInput {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                overflow: hidden;
                box-sizing: border-box;
                width: 100%;
                padding: 0 12px;

                &.isCleanable {
                    padding-right: 40px;
                }

                &.isInputFocus {
                    outline: 1px solid var(--field-border-selected) !important;
                    border: 1px solid var(--field-border-selected);
                }

                &.noWrap {
                    flex-wrap: nowrap;
                }

                .chipContainer {
                    margin: 5px 4px 0 0;

                    .chipDropdownList {
                        z-index: 9999999;
                    }
                }

                .actionListContainer {
                    .chipContainer {
                        margin: 0;
                    }
                }

                .innerTextFieldInput {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border: none;
                    background-color: transparent;
                    outline: none;
                    flex: 1;
                    text-wrap: nowrap;
                    min-width: 10px;
                    min-height: 24px;
                    overflow: hidden;
                    padding: 7px 0;

                    &[contenteditable]:empty:before {
                        content: attr(placeholder);
                        pointer-events: none;
                        display: block;
                        /* For Firefox */
                        color: var(--text-disabled);
                    }
                }
            }
        }
    }
}