.infoPanel {
    .infoItems {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100% - var(--headerHight));

        .item {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 16px 40px;
            border-bottom: 1px solid var(--border);
            width: var(--panel-width);
            box-sizing: border-box;

            .idCopy {
                display: flex;
                flex-direction: row;
                gap: 12px;

                .copyIcon {
                    cursor: pointer;
                }
            }
        }
    }
}