.loginForm {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding: 48px 114px;

    .formContent {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 414px;

        .formTitle {
            border-bottom: 1px solid var(--border);
            line-height: 36px;
            padding-bottom: 16px;
        }

        .formInput {
            margin-bottom: 28px;
        }

        .loginButton {
            width: 100%;
        }
    }
}