@use '../../../../styles/mixins.scss';

.chipContainer {
    max-width: 100%;
    
    .dsChip {
        --icon-width: 24px;
        --gap: 4px;
        
        display: flex;
        flex-direction: row;
        gap: 8px;
        background-color: var(--button-primary-bg);
        padding: 2px 4px 2px 8px;
        box-sizing: border-box;
        border-radius: 3px;
        color: var(--text-on-color);
        width: fit-content;
        max-width: 100%;

        &.isDisabled {
            background-color: var(--button-secondary-disabled);
            pointer-events: none;
        }

        &.isDropdown {
            cursor: pointer;
            padding-right: 16px;

            .chipTitle {
                max-width: unset;

                .dropdownTitle {
                    display: flex;
                    flex-direction: row;
                    gap: 2px;
                    align-items: center;

                    .plusSign {
                        font-size: 14px;
                    }

                    .dropCounterTitle {
                        color: var(--text-on-color);
                    }
                }
            }
        }

        .chipTitle {
            @include mixins.ellipsis(calc(100% - var(--icon-width) - var(--gap)));
            color: var(--text-on-color);
        }

        .chipClose {
            cursor: pointer;
        }
    }

    .chipDropdownList {
        .itemsContainer {
            >div {
                cursor: initial;
            }

            .chipDropItem {
                width: 100%;
                padding: 4px 8px 4px 12px;
                justify-content: space-between;
                background-color: transparent;
                color: var(--text-primary);

                &:hover {
                    background-color: var(--hover-background);
                }

                .chipTitle {
                    color: var(--text-primary);
                    width: 95%;
                }
            }
        }
    }
}