apiVersion: trident.netapp.io/v1
kind: TridentBackendConfig
metadata:
  name: backend-fsx-ontap-nas
  namespace: trident
spec:
  version: 1
  storageDriverName: ontap-nas
  svm: ${FSX_SVM_NAME}
  aws:
    fsxFilesystemID: ${FSX_ID}
  credentials:
    name: ${SECRET_ARN}
    type: awsarn
