$main-header-z: 200001;
$primary-header-z: 2000;
$secondary-header-z: 1999;

$slider-z: 1998;

$notifications-z: 1000;

$tab-header-z: 15;

$floating-banner-z: 1997;

$sliding-menu-z: 5002;
$sliding-menu-mask-z: 5001;

$full-screen-z: 99999999998;
$full-pane-angular-z: $full-screen-z + 1;

$full-widget-z: 1000001;
$full-widget-mask-z: 1000000;

$modal-z: 200000001;
$modal-mask-z: 200000000;

$popover-z: 300000001;

$portal-widget-z: 999999;



$table-widgets-row: 10;
$table-header-groups: 5;
