@use '../../styles/mixins.scss';

.chatbotContaier {
  display: flex;
  flex-direction: row;
  background-color: var(--content-background);
  height: 100%;
  box-shadow: 2px 2px 6px 0px var(--drop-shadow);
  overflow: hidden;

  --headerHight: 70px;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 40px;
    height: var(--headerHight);
    border-bottom: 1px solid var(--border);
  }

  .chatbot {
    --panel-width: 564px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    max-width: 100vw;
    flex: 1;
    @include mixins.transition(max-width 0.3s ease);

    &.isPanelExpanded {
      max-width: calc(100vw - var(--panel-width));
    }

    .modeStatus {
      line-height: 22px;
      color: var(--chart-9);
      background-color: #EADCFC;
      padding: 0 12px;
    }

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 16px;

      .leftWithKnowledgeName {
        display: flex;
        flex-direction: row;
        gap: 24px;
        overflow: hidden;
        flex: 1;

        .knowledgebaseName {
          @include mixins.ellipsis(100%);
        }

        .left {
          display: flex;
          align-items: center;
        }
      }

      .right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        &.isDisabled {
          pointer-events: none;

          .chatLinkContainer {
            .chatLink {
              color: var(--text-disabled);
            }
          }

          .historyIcon {
            path {
              fill: var(--icon-secondary-disabled);
            }
          }
        }

        .chatLinkContainer {
          text-align: right;
          margin-right: 35px;

          .chatLink {
            color: var(--text-button-primary);
            cursor: pointer;
          }
        }
      }

      .addChatIcon {
        cursor: pointer;
        color: var(--icon-secondary);

        &.disabled {
          pointer-events: none;

          path {
            fill: var(--icon-secondary-disabled);
          }
        }
      }

      .historyIcon {
        margin-left: 25px;
        width: 22px;
        cursor: pointer;

        path {
          fill: var(--icon-secondary);
        }

        &:first-letter {
          text-transform: lowercase;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: calc(100% - var(--headerHight));

      .chatArea {
        display: flex;
        flex-direction: column;
        height: calc(100% - 120px);
        background-color: var(--main-background);

        &.emptyChat {
          @include mixins.showScrollbarY();
          height: 100%;
          overflow-y: scroll;
        }

        .modelsDropdownContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 24px;
        }

        .allConversationStarters {
          margin: 16px 0;
          width: 205px;
          position: fixed;
          z-index: 1;
          margin-left: 40px;

          * {
            cursor: pointer;
          }

          &.isDisabled {
            pointer-events: none;

            .textFieldInput {
              &::placeholder {
                color: var(--text-disabled);
              }
            }
          }

          .dsDropDownList {
            width: auto !important;
          }

          .design-system-select__menu {
            width: 500px;
          }

          .design-system-select__single-value {
            width: 95%;
          }

          .design-system-select__placeholder {
            color: var(--text-primary);
          }

          .textFieldInput {
            border-color: var(--field-border);

            &::placeholder {
              color: var(--text-primary);
            }
          }
        }

        .disabledChatContainer {
          display: flex;
          width: 100%;
          justify-content: center;
          margin-top: 100px;


          .disabledChatCard {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            width: 1065px;
            max-width: 60%;
            padding: 40px 56px;
            box-sizing: border-box;

            .disabledChatDescription {
              text-align: center;
              white-space: pre-wrap;
            }
          }
        }

        .loadingChatIcon {
          @include mixins.spin(1000ms);
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        .emptyChatContainer {
          display: flex;
          flex-direction: column;
          width: 90%;
          max-width: 1066px;
          align-items: center;
          justify-content: center;
          gap: 10px;
          position: relative;
          left: 50%;
          top: 50%;
          transform: translate(calc(-50% + 8px), -50%);

          .emptyChatIcon {
            margin-bottom: 15px;
          }

          .descriptionForStarters {
            white-space: break-spaces;
            text-align: center;
          }

          .descriptionList {
            li {
              font-size: 24px;
              margin-bottom: 19px;

              &::marker {
                color: var(--icon-secondary);
              }

              div {
                white-space: pre-wrap;
              }
            }
          }

          .emptyChatDescriptionContainer {
            display: flex;
            flex-direction: column;
            align-items: center;

            .emptyChatDescription {
              margin-top: 15px;
              text-align: center;
            }
          }

          .conversationStarterContainer {
            --prompt-single-line-height: 72px;
            --gap: 24px;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            gap: var(--gap);
            margin-top: 40px;
            box-sizing: border-box;

            &.colStyle {
              flex-direction: column;
              gap: var(--gap);
              max-width: 792px;

              .conversationStarter {
                flex: unset;
                height: var(--prompt-single-line-height);
                margin-bottom: 0;
              }
            }

            .conversationStarter {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 4px 16px;
              box-sizing: border-box;
              flex: 1;
              border: 1px solid var(--browser-bg-stroke);
              border-radius: 4px;
              min-width: 40%;
              height: 80px;
              // margin-bottom: 24px;
              background-color: var(--content-background);
              box-shadow: 2px 2px 6px 0px var(--drop-shadow);

              &.clickable:hover {
                cursor: pointer;
                background-color: var(--hover-background);
                border-color: var(--button-primary-bg);
              }

              &.allLoading {
                .promptContainer {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }

              .promptContainer {
                @include mixins.ellipsisMultiLine(2);
                text-align: center;
                width: 100%;
                overflow: hidden;
              }

            }
          }
        }

        .chatListContainer {
          display: flex;
          justify-content: center;
          width: 100%;
          height: 100%;

          .chatList {
            @include mixins.showScrollbarY();
            --min-left: calc((100% - 1064px) / 2);
            height: 100%;
            width: 100%;
            min-width: 750px;
            padding-left: clamp(280px, var(--min-left), var(--min-left));
            padding-right: 100px;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            gap: 25px;
            box-sizing: border-box;

            .prompt {
              &:first-child {
                margin-top: 90px;
              }

              &:last-child {
                margin-bottom: 50px;
              }
            }
          }
        }
      }

      .discussion {
        display: flex;
        padding: 30px 0;
        align-items: center;
        justify-content: center;
        border-top: 1px solid var(--border);
        outline: none;

        .textArea {
          position: relative;
          width: 80%;
          max-width: 1064px;

          .chatPromptInput {
            display: flex;
            align-items: center;
            margin: 0;
            box-shadow: 2px 2px 6px 0px var(--drop-shadow);
            border: 1px solid var(--border);
            border-radius: 6px;
            height: 60px;

            .dsTextFieldFrame {
              width: 100%;
              height: 60px;

              .inputTextContainer {
                height: 100%;
                padding: 0;

                .inputContainer {
                  height: 100%;

                  input {
                    border: none;
                    height: 100%;
                    padding-right: 80px;
                    outline: none;

                    &:focus {
                      outline: 1px solid var(--field-border-selected);
                    }
                  }
                }
              }
            }
          }

          .sendContainer {
            position: absolute;
            right: 20px;
            top: 18px;
            padding-left: 15px;

            .sendButton {
              position: relative;
              top: 1px;
              cursor: pointer;

              path {
                fill: var(--button-primary-bg)
              }

              &.disabled {
                pointer-events: none;

                path {
                  fill: var(--text-button-disabled);
                }
              }
            }
          }
        }
      }
    }

    .footer {
      flex-shrink: 0;
      border-top: 1px solid var(--border);
      height: 120px;
    }
  }
}