.inputText {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .textFieldInput {
        padding: 7px 12px;
        border-radius: 4px;
        border: 1px solid var(--field-border);
        box-sizing: border-box;
        color: var(--text-primary);
        width: 100%;
        background: var(--content-background);

        &::placeholder {
            color: var(--text-disabled);
            font-weight: 300;
        }


        &:hover {
            outline: 1px solid var(--field-border);
        }

        &:focus,
        &:active {
            outline: 1px solid var(--field-border-selected);
            border-color: var(--field-border-selected);
        }
    }
}