@use '../../../../styles/mixins.scss' as *;

td,
th {
    &.dsCell {
        box-sizing: border-box;
        text-align: left;
        height: 56px;

        &.doubleHight {
            height: 72px;

            &.freezed {
                line-height: 70px;
            }
        }

        &.noContent {
            padding: 0;
        }

        &.isDisabled {
            .cellContainer {
                .cellContent {
                    color: var(--text-disabled);
                }
            }
        }

        &.freezed {
            position: sticky;
            background-color: var(--background-content);

            &.isFreezLastLeft {
                box-shadow: inset -2px 0px 4px -3px var(--border-main);
            }

            &.isFreezLastRight {
                box-shadow: inset 2px 0px 4px -3px var(--border-main);
            }
        }

        .cellContainer {
            display: flex;
            width: 100%;
            padding-left: 16px;
            box-sizing: border-box;

            &.Action {
                padding: 0
            }

            .cellContent {
                @include ellipsis(100%);
                color: var(--text-primary);
                padding-right: 15px;

                & {
                    width: 100%;
                }
            }
        }
    }
}