@use '../../../styles/mixins.scss';

.dsTooltipInfo {
    position: relative;

    &.clickable {
        cursor: pointer;
    }

    &.isDisabled {
        pointer-events: none;

        .tooltipInfoTitleContainer {
            .iconTitleContainer {
                .defaultTooltipIcon {
                    color: var(--tooltip-icon-disabled);
                }
    
                .tooltipInfoTitle {
                    color: var(--text-disabled);
                }
            }
        }
    }

    .tooltipInfoTitleContainer {
        display: flex;
        flex-direction: row;
        gap: 16px;

        &:hover {
            .iconTitleContainer {
                .defaultTooltipIcon {
                    color: var(--tooltip-icon-hover);
                }
            }
        }

        .tooltipInfoTitle {
            flex: 1;
        }

        .iconTitleContainer {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            gap: 8px;

            svg {
                width: 16px;
                height: 16px;
            }

            .defaultTooltipIcon {
                position: relative;
                top: 2px;
                color: var(--tooltip-icon-default);
            }
        }
    }

    .tooltipInfoBaloon {
        @include mixins.fadeIn(0.3s);
    }
}