---
fluentbit:
  enable: true
  input:
    tail:
      enable: true
      path: "/logs/*/*.log"
  output:
    stdout:
      enable: true
      
  additionalVolumes: 
    - name: shared-logs
      persistentVolumeClaim:
        claimName: shared-pv
  additionalVolumesMounts: 
    - name: shared-logs
      mountPath: /logs
      readOnly: false
      subPathExpr: $(NODE_NAME)
