.dsCopyToClipboard {
    &.isDisabled {
        pointer-events: none;

        .copyToClipboard {
            path {
                fill: var(--icon-primary-disabled);
            }
        }
    }

    .copyToClipboardContainer {
        position: relative;

        .contentForCopy {
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 1px;
            border: none;
            padding: 0;
            opacity: 0;
            z-index: 0;
        }

        .childContainer {
            display: flex;
            gap: 8px;
            align-items: center;
            cursor: pointer;

            &:hover {
                .copyToClipboard {
                    path {
                        fill: var(--icon-secondary-hover);
                    }
                }

                .copyToClipboardText {
                    color: var(--icon-secondary-hover);
                }
            }

            .copyToClipboard {
                width: 24px;
                height: 24px;
                color: var(--icon-secondary);
                z-index: 1;
            }
        }
    }

    .dsBaloonPopup {
        min-width: unset;

        .childrenContainer {
            white-space: nowrap;
        }
    }
}