.dsTag {
    padding: 2px 11px;
    border-radius: 24px;
    width: fit-content;

    &.Default, &.new {
        background-color: var(--tag-3-bg);

        .labelText {
            color: var(--tag-3-text);
        }
    }
    
    &.comingSoon {
        background-color: var(--tag-2-bg);

        .labelText {
            color: var(--tag-2-text);
        }
    }

    &.privatePreview, &.preview {
        background-color: var(--tag-1-bg);

        .labelText {
            color: var(--tag-1-text);
        }
    }

    &.Deprecated {
        background-color: var(--chart-7);

        .labelText {
            color: var(--text-on-color);
        }
    }

    &.best {
        background-color: var(--tag-4-bg);

        .labelText {
            color: var(--tag-4-text);
        }
    }
}